extends layout

block content
	#login-container
		form#login-form.well.container-fluid(action='/home',method='get')
			h1 Log In 
			p.subheading Please Login To Your Account
			input.form-control.main(type="text" name="username" placeholder="Enter email")
			input.form-control.main(type="password" name="password" placeholder="Password")
			label Remember Me
			input.rememder(type="checkbox", checked='checked' name="rememder")
			button.btn.btn-primary(type="submit") Sign in
			div.btm-links
			a(href='#' data-toggle="modal" data-target="#req-password") Forgot Your Password?
			a#create-account(href='#' data-toggle="modal" data-target="#register-new-user") Create An Account
	include modals/lost_password
	include modals/register_user

block scripts
	script(src='/js/controllers/lost-password.js')