#req-password.modal.fade
    .modal-dialog
        .modal-content
            .modal-body
                form.form-group#lostPassword(action='/resetPassword' method='get')
                    button.close(data-dismiss='modal' aria-label='close')
                        span(aria-hidden='true') &times;
                    h4 Request Password Reset
                    p Please enter the email address associated with your account
                    input.form-control.input-modal#resetPasswordEmail(type='email' placeholder='Enter email' name='email' autofocus='autofocus')
                    button.btn.btn-primary#resetPasswordButton(type='submit') Request Password